RummikubServiceGit/src/conf/xml-resources/web-services/RummikubWebService/wsdl/RummikubWebServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://rummikub.ws/" name="RummikubWebServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://rummikub.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://rummikub.ws/" schemaLocation="RummikubWebServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getEvents">
    <part name="parameters" element="tns:getEvents"/>
  </message>
  <message name="getEventsResponse">
    <part name="parameters" element="tns:getEventsResponse"/>
  </message>
  <message name="InvalidParameters">
    <part name="fault" element="tns:InvalidParameters"/>
  </message>
  <message name="createGameFromXML">
    <part name="parameters" element="tns:createGameFromXML"/>
  </message>
  <message name="createGameFromXMLResponse">
    <part name="parameters" element="tns:createGameFromXMLResponse"/>
  </message>
  <message name="DuplicateGameName">
    <part name="fault" element="tns:DuplicateGameName"/>
  </message>
  <message name="InvalidXML">
    <part name="fault" element="tns:InvalidXML"/>
  </message>
  <message name="getPlayersDetails">
    <part name="parameters" element="tns:getPlayersDetails"/>
  </message>
  <message name="getPlayersDetailsResponse">
    <part name="parameters" element="tns:getPlayersDetailsResponse"/>
  </message>
  <message name="GameDoesNotExists">
    <part name="fault" element="tns:GameDoesNotExists"/>
  </message>
  <message name="createGame">
    <part name="parameters" element="tns:createGame"/>
  </message>
  <message name="createGameResponse">
    <part name="parameters" element="tns:createGameResponse"/>
  </message>
  <message name="getGameDetails">
    <part name="parameters" element="tns:getGameDetails"/>
  </message>
  <message name="getGameDetailsResponse">
    <part name="parameters" element="tns:getGameDetailsResponse"/>
  </message>
  <message name="getWaitingGames">
    <part name="parameters" element="tns:getWaitingGames"/>
  </message>
  <message name="getWaitingGamesResponse">
    <part name="parameters" element="tns:getWaitingGamesResponse"/>
  </message>
  <message name="joinGame">
    <part name="parameters" element="tns:joinGame"/>
  </message>
  <message name="joinGameResponse">
    <part name="parameters" element="tns:joinGameResponse"/>
  </message>
  <message name="getPlayerDetails">
    <part name="parameters" element="tns:getPlayerDetails"/>
  </message>
  <message name="getPlayerDetailsResponse">
    <part name="parameters" element="tns:getPlayerDetailsResponse"/>
  </message>
  <message name="createSequence">
    <part name="parameters" element="tns:createSequence"/>
  </message>
  <message name="createSequenceResponse">
    <part name="parameters" element="tns:createSequenceResponse"/>
  </message>
  <message name="addTile">
    <part name="parameters" element="tns:addTile"/>
  </message>
  <message name="addTileResponse">
    <part name="parameters" element="tns:addTileResponse"/>
  </message>
  <message name="takeBackTile">
    <part name="parameters" element="tns:takeBackTile"/>
  </message>
  <message name="takeBackTileResponse">
    <part name="parameters" element="tns:takeBackTileResponse"/>
  </message>
  <message name="moveTile">
    <part name="parameters" element="tns:moveTile"/>
  </message>
  <message name="moveTileResponse">
    <part name="parameters" element="tns:moveTileResponse"/>
  </message>
  <message name="finishTurn">
    <part name="parameters" element="tns:finishTurn"/>
  </message>
  <message name="finishTurnResponse">
    <part name="parameters" element="tns:finishTurnResponse"/>
  </message>
  <message name="resign">
    <part name="parameters" element="tns:resign"/>
  </message>
  <message name="resignResponse">
    <part name="parameters" element="tns:resignResponse"/>
  </message>
  <portType name="RummikubWebService">
    <operation name="getEvents">
      <input wsam:Action="http://rummikub.ws/RummikubWebService/getEventsRequest" message="tns:getEvents"/>
      <output wsam:Action="http://rummikub.ws/RummikubWebService/getEventsResponse" message="tns:getEventsResponse"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://rummikub.ws/RummikubWebService/getEvents/Fault/InvalidParameters"/>
    </operation>
    <operation name="createGameFromXML">
      <input wsam:Action="http://rummikub.ws/RummikubWebService/createGameFromXMLRequest" message="tns:createGameFromXML"/>
      <output wsam:Action="http://rummikub.ws/RummikubWebService/createGameFromXMLResponse" message="tns:createGameFromXMLResponse"/>
      <fault message="tns:DuplicateGameName" name="DuplicateGameName" wsam:Action="http://rummikub.ws/RummikubWebService/createGameFromXML/Fault/DuplicateGameName"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://rummikub.ws/RummikubWebService/createGameFromXML/Fault/InvalidParameters"/>
      <fault message="tns:InvalidXML" name="InvalidXML" wsam:Action="http://rummikub.ws/RummikubWebService/createGameFromXML/Fault/InvalidXML"/>
    </operation>
    <operation name="getPlayersDetails">
      <input wsam:Action="http://rummikub.ws/RummikubWebService/getPlayersDetailsRequest" message="tns:getPlayersDetails"/>
      <output wsam:Action="http://rummikub.ws/RummikubWebService/getPlayersDetailsResponse" message="tns:getPlayersDetailsResponse"/>
      <fault message="tns:GameDoesNotExists" name="GameDoesNotExists" wsam:Action="http://rummikub.ws/RummikubWebService/getPlayersDetails/Fault/GameDoesNotExists"/>
    </operation>
    <operation name="createGame">
      <input wsam:Action="http://rummikub.ws/RummikubWebService/createGameRequest" message="tns:createGame"/>
      <output wsam:Action="http://rummikub.ws/RummikubWebService/createGameResponse" message="tns:createGameResponse"/>
      <fault message="tns:DuplicateGameName" name="DuplicateGameName" wsam:Action="http://rummikub.ws/RummikubWebService/createGame/Fault/DuplicateGameName"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://rummikub.ws/RummikubWebService/createGame/Fault/InvalidParameters"/>
    </operation>
    <operation name="getGameDetails">
      <input wsam:Action="http://rummikub.ws/RummikubWebService/getGameDetailsRequest" message="tns:getGameDetails"/>
      <output wsam:Action="http://rummikub.ws/RummikubWebService/getGameDetailsResponse" message="tns:getGameDetailsResponse"/>
      <fault message="tns:GameDoesNotExists" name="GameDoesNotExists" wsam:Action="http://rummikub.ws/RummikubWebService/getGameDetails/Fault/GameDoesNotExists"/>
    </operation>
    <operation name="getWaitingGames">
      <input wsam:Action="http://rummikub.ws/RummikubWebService/getWaitingGamesRequest" message="tns:getWaitingGames"/>
      <output wsam:Action="http://rummikub.ws/RummikubWebService/getWaitingGamesResponse" message="tns:getWaitingGamesResponse"/>
    </operation>
    <operation name="joinGame">
      <input wsam:Action="http://rummikub.ws/RummikubWebService/joinGameRequest" message="tns:joinGame"/>
      <output wsam:Action="http://rummikub.ws/RummikubWebService/joinGameResponse" message="tns:joinGameResponse"/>
      <fault message="tns:GameDoesNotExists" name="GameDoesNotExists" wsam:Action="http://rummikub.ws/RummikubWebService/joinGame/Fault/GameDoesNotExists"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://rummikub.ws/RummikubWebService/joinGame/Fault/InvalidParameters"/>
    </operation>
    <operation name="getPlayerDetails">
      <input wsam:Action="http://rummikub.ws/RummikubWebService/getPlayerDetailsRequest" message="tns:getPlayerDetails"/>
      <output wsam:Action="http://rummikub.ws/RummikubWebService/getPlayerDetailsResponse" message="tns:getPlayerDetailsResponse"/>
      <fault message="tns:GameDoesNotExists" name="GameDoesNotExists" wsam:Action="http://rummikub.ws/RummikubWebService/getPlayerDetails/Fault/GameDoesNotExists"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://rummikub.ws/RummikubWebService/getPlayerDetails/Fault/InvalidParameters"/>
    </operation>
    <operation name="createSequence">
      <input wsam:Action="http://rummikub.ws/RummikubWebService/createSequenceRequest" message="tns:createSequence"/>
      <output wsam:Action="http://rummikub.ws/RummikubWebService/createSequenceResponse" message="tns:createSequenceResponse"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://rummikub.ws/RummikubWebService/createSequence/Fault/InvalidParameters"/>
    </operation>
    <operation name="addTile">
      <input wsam:Action="http://rummikub.ws/RummikubWebService/addTileRequest" message="tns:addTile"/>
      <output wsam:Action="http://rummikub.ws/RummikubWebService/addTileResponse" message="tns:addTileResponse"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://rummikub.ws/RummikubWebService/addTile/Fault/InvalidParameters"/>
    </operation>
    <operation name="takeBackTile">
      <input wsam:Action="http://rummikub.ws/RummikubWebService/takeBackTileRequest" message="tns:takeBackTile"/>
      <output wsam:Action="http://rummikub.ws/RummikubWebService/takeBackTileResponse" message="tns:takeBackTileResponse"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://rummikub.ws/RummikubWebService/takeBackTile/Fault/InvalidParameters"/>
    </operation>
    <operation name="moveTile">
      <input wsam:Action="http://rummikub.ws/RummikubWebService/moveTileRequest" message="tns:moveTile"/>
      <output wsam:Action="http://rummikub.ws/RummikubWebService/moveTileResponse" message="tns:moveTileResponse"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://rummikub.ws/RummikubWebService/moveTile/Fault/InvalidParameters"/>
    </operation>
    <operation name="finishTurn">
      <input wsam:Action="http://rummikub.ws/RummikubWebService/finishTurnRequest" message="tns:finishTurn"/>
      <output wsam:Action="http://rummikub.ws/RummikubWebService/finishTurnResponse" message="tns:finishTurnResponse"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://rummikub.ws/RummikubWebService/finishTurn/Fault/InvalidParameters"/>
    </operation>
    <operation name="resign">
      <input wsam:Action="http://rummikub.ws/RummikubWebService/resignRequest" message="tns:resign"/>
      <output wsam:Action="http://rummikub.ws/RummikubWebService/resignResponse" message="tns:resignResponse"/>
      <fault message="tns:InvalidParameters" name="InvalidParameters" wsam:Action="http://rummikub.ws/RummikubWebService/resign/Fault/InvalidParameters"/>
    </operation>
  </portType>
  <binding name="RummikubWebServicePortBinding" type="tns:RummikubWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getEvents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="createGameFromXML">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DuplicateGameName">
        <soap:fault name="DuplicateGameName" use="literal"/>
      </fault>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
      <fault name="InvalidXML">
        <soap:fault name="InvalidXML" use="literal"/>
      </fault>
    </operation>
    <operation name="getPlayersDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GameDoesNotExists">
        <soap:fault name="GameDoesNotExists" use="literal"/>
      </fault>
    </operation>
    <operation name="createGame">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DuplicateGameName">
        <soap:fault name="DuplicateGameName" use="literal"/>
      </fault>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="getGameDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GameDoesNotExists">
        <soap:fault name="GameDoesNotExists" use="literal"/>
      </fault>
    </operation>
    <operation name="getWaitingGames">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="joinGame">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GameDoesNotExists">
        <soap:fault name="GameDoesNotExists" use="literal"/>
      </fault>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="getPlayerDetails">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="GameDoesNotExists">
        <soap:fault name="GameDoesNotExists" use="literal"/>
      </fault>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="createSequence">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="addTile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="takeBackTile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="moveTile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="finishTurn">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
    <operation name="resign">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InvalidParameters">
        <soap:fault name="InvalidParameters" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RummikubWebServiceService">
    <port name="RummikubWebServicePort" binding="tns:RummikubWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

